


@{
    ViewBag.Title = "Administration";

}

@*<h2>Administration</h2>*@

<h1>
    <a href="@Url.Action("Index", "Survey")">Surveys</a>
</h1>
<br />
<h1>
    <a href="@Url.Action("ManageUsers", "Account")">Manage Users</a>
</h1>    

