


@{
    ViewBag.Title = "Administration";

}

@*<h2>Administration</h2>*@
<p>
    <a href="@Url.Action("Index", "Survey")">Surveys</a>
</p>
<p>
    <a href="@Url.Action("ManageUsers", "Account")">Manage Users</a>
</p>    

