@{
    ViewBag.Title = "Home Page";
}

@section SubNav {
    <ul class="navigation">
        <li>
            <a href="/Survey/Index">Surveys</a> 
        </li>
        <li>
            <a href="/SurveyResponse/Index">Answer Surveys</a> 
        </li>
    </ul>
}


