<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CaesDesignBoilerplate" version="3.1.0.26" />
  <package id="DataAnnotationsExtensions" version="0.6.0.0" targetFramework="net40" />
  <package id="DataAnnotationsExtensions.MVC3" version="0.6.0.0" targetFramework="net40" />
  <package id="Microsoft.Data.Edm" version="5.6.1" targetFramework="net40" />
  <package id="Microsoft.Data.OData" version="5.6.1" targetFramework="net40" />
  <package id="Microsoft.Data.Services.Client" version="5.6.1" targetFramework="net40" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.8.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net40" />
  <package id="System.Spatial" version="5.6.1" targetFramework="net40" />
  <package id="UcdArchDlls" version="3.1.0.53" />
  <package id="UcdArchMvcTemplates" version="1.0.0.13" />
  <package id="WebActivator" version="1.1.0.0" targetFramework="net40" />
  <package id="WindowsAzure.Storage" version="3.0.2.0" targetFramework="net40" />
</packages>