<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="UcdArchMvcTemplates" version="1.0.0.10" />
  <package id="DataAnnotationsExtensions.MVC3" version="0.5.0.0" />
  <package id="DataAnnotationsExtensions" version="0.5.0.0" />
  <package id="WebActivator" version="1.4" />
  <package id="UcdArchDlls" version="3.1.0.47" />
  <package id="CaesDesignBoilerplate" version="3.1.0.25" />
</packages>