<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Spring.ProxyFactoryFactory, NHibernate.ByteCode.Spring</property>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string_name">MainDB</property>
      <property name="default_schema">NuSurvey.dbo</property>
      <property name="generate_statistics">true</property>
      <property name="adonet.batch_size">25</property>
    </session-factory>
  </hibernate-configuration>
  
  <connectionStrings>
    <add name="MainDB" connectionString="data source=TERRY;Initial Catalog=NuSurvey;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="RATBERT" connectionString="data source=vogel;Initial Catalog=RATBERT;Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <!--<appSettings  file="AppDebugSettings.config">
    <add key="RecaptchaPrivateKey" value="[EXTERNAL]"/>
    <add key="RecaptchaPublicKey" value="[EXTERNAL]"/>-->
  <appSettings>
    <add key="RecaptchaPrivateKey" value="6LcIbLwSAAAAAP6q_kGNpnLASJPny_hveq5iSu5C" />
    <add key="RecaptchaPublicKey" value="6LcIbLwSAAAAAKH5BSTYNk_UE76MRPgZS3Gnl1g-" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="ReportServer" value="http://devreports.caes.ucdavis.edu/reportserver"/>-->
    <add key="ReportServer" value="http://testreports.caes.ucdavis.edu/reportserver" />
    <add key="MessageServer" value="https://secure.caes.ucdavis.edu/Catbert4/public/message.svc" />
    <add key="AzureStorageAccountName" value="storagedev"/>
    <add key="AzureStorageKey" value="scIGov5W/luchHOaDu3WUQZL4WDZIQqIsRo8h/elBASAYYWbLf8FKFumDub6kG4kLgjsrFTJ7bsAm+Seql/mng=="/>
  </appSettings>
  
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="RATBERT" applicationName="NuSurvey" />
    <errorMail from="jsylvestre@ucdavis.edu" to="jsylvestre@ucdavis.edu" subject="ELMAH: NuSurvey web error response" smtpServer="smtp.ucdavis.edu" />
  </elmah>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MainDB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="8" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="MainDB" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="MainDB" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    -->
    <!--<customErrors mode="RemoteOnly" defaultRedirect="Error">-->
    <customErrors mode="off" defaultRedirect="Error">
      <error statusCode="403" redirect="Error/NotAuthorized" />
      <error statusCode="404" redirect="Error/FileNotFound" />
    </customErrors>
    
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="MvcContrib.FluentHtml" />
        <add namespace="NuSurvey.Web.Helpers" />
      </namespaces>
    </pages>
    <machineKey validationKey="FF080E64DD8CF691577ECA8C2D75B807C07AE8BA53D5DD65ABD8FB81469EE3211A494EFF20EE506CF5351ACA774E1B9D7378008305FA3A14BCA622C8B2DC4E48" decryptionKey="01047CF82D0A2F147BA003858538A60B9A355461AD02B17CC8CE80538541797A" validation="SHA1" decryption="AES" />

  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
    </modules>
    <handlers>
      <remove name="MvcHttpHandler" />
      <remove name="UrlRoutingHandler" />
      <!--<add name="Elmah" verb="POST,GET,HEAD" path="Errors.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>-->
      <add name="MvcHttpHandler" preCondition="integratedMode" verb="*" path="*.mvc" type="System.Web.Mvc.MvcHttpHandler, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
    </handlers>
  </system.webServer>
  
  <system.net>
    <mailSettings>
      <smtp from="automatedemail@caes.ucdavis.edu">
        <network host="smtp.ucdavis.edu"></network>
      </smtp>
    </mailSettings>
  </system.net>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DataAnnotationsExtensions" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.6.0.0" newVersion="0.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>