<ul class="navigation">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    @if(User.IsInRole("NSAdmin")){
        <li>@Html.ActionLink("Admin", "Administration", "Home")</li>
    }

    @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
@*    <li>
        <a href="https://secure.caes.ucdavis.edu/help/ticket/SubmitRedirect?appName=NuSurvey" target=_blank>Help</a>
    </li>
    <li>
        <a href="https://secure.caes.ucdavis.edu/help/Help?appName=NuSurvey" target=_blank>FAQ</a>
    </li>*@
</ul>
