@model NuSurvey.Web.Controllers.SingleAnswerSurveyResponseViewModel

    <fieldset class="display-form">
    <legend>Progress</legend>
        <ul>
            <li>
                <div id="progressbar"></div>
            </li>
		    <li>
			    <div class="display-label">@Html.LabelFor(a => a.AnsweredQuestions)</div>
			    <div class="display-details">@Html.DisplayFor(a => a.AnsweredQuestions)</div>
		    </li>
		    <li>     
                <div class="display-label">@Html.LabelFor(a => a.TotalActiveQuestions)</div>       
			    <div class="display-details">@Html.DisplayFor(a => a.TotalActiveQuestions)</div>
		    </li>
        </ul>
    </fieldset>



