@model NuSurvey.Core.Domain.SurveyResponse

@{
    ViewBag.Title = @Model.Survey.QuizType + " Quiz Results";
}

@Html.Partial("_Results", @Model)


<p>
    @Html.ActionLink("Back to Survey List", "Index")
</p>


