@model NuSurvey.Core.Domain.SurveyResponse


@{
    ViewBag.Title = "Quiz Results";
}



@Html.Partial("_Results", @Model)


<p>
    @Html.ActionLink("Back to Survey List", "Index")
</p>


@section AdditionalScripts{

    <style type="text/css">
        .col1.results
        {
        	display:none;
        }
    </style>
}

