@model NuSurvey.Core.Domain.CategoryGoal

@{
    ViewBag.Title = "Details2";
}

<h2>Details2</h2>

<fieldset>
    <legend>CategoryGoal</legend>
	<ul>
		<li>
			<div class="display-label">Name</div>
			<div class="display-field">@Model.Name</div>
		</li>
		<li>
			<div class="display-label">IsActive</div>
			<div class="display-field">@Model.IsActive</div>
		</li>
	</ul>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

