@{
    ViewBag.Title = "Manage Account";
}
<form>
    <ul>
        <li>
            @Html.ActionLink("Change Password", "ChangePassword", "Account")
        </li>
        <li>
            @Html.ActionLink("Change Roles", "ChangeRoles", "Account")
        </li>
    </ul>
</form>
