


@{
    ViewBag.Title = "TermsAndConditions";

}

<h2>Terms And Conditions</h2>

<p>
    You are requesting permission to download the <i>Healthy Kids</i> pediatric obesity risk assessment form to your computer. <i>Healthy Kids</i>© is protected by copyright laws and is property of University of California. By downloading <i>Healthy Kids</i>, you agree to keep the original form unchanged. This means that you are not entitled to modify or use the photographs for any other purpose. In addition, all references and logos may not be altered in any way nor removed. 
</p>
<p>
    In case of a doubt concerning your planned use of the <i>Healthy Kids</i> form or content (photographs, logo or survey questions), please click here to contact us directly.
</p>




