@{
    ViewBag.Title = "About Healthy Kids";
}

<h3>Developed By The College Of Agricultural And Environmental Science Dean's Office</h3>
<p>
    Copyright The Regents of the University of California, Davis campus, 2005-15.
</p>
<p>
    All Rights Reserved.
</p>
