* {
  margin: 0;
  padding: 0;
}


/* ------- FONT NOTES ------ */   /* Changed MLR 022714 */

/* REMOVED all @font-face references MLR 022714 */

/* 	ADD the following reference note MLR 022714
	Name: Source Sans Pro
	Normal: 400
	Semi-bold: 600
	Bold: 700
	Ultra-bold: 900
*/

body {
    font: 11.5px/16px 'Source Sans Pro',Arial,sans-serif;
    min-width: 1200px;
}

h2 {  /* ADD MLR 022714 */
	margin: 20px 0 10px 0;  /* ADD MLR 022714 */
}  /* ADD MLR 022714 */

#branding {
  background: #ede6de; /* Old browsers */

    background: -webkit-linear-gradient(top, #EDE6DE, #E7DED4);
    background: -moz-linear-gradient(top, #EDE6DE, #E7DED4);
    background: -o-linear-gradient(top, #EDE6DE, #E7DED4);
    background: -ms-linear-gradient(top, #EDE6DE, #E7DED4);
    background: linear-gradient(top, #EDE6DE #E7DED4);
     
  /* -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
   -webkit-box-shadow: 0 3px 0 #1b383b;
    -moz-box-shadow: 0 3px 0 #1b383b;
    box-shadow: 0 3px 0 #1b383b;
    */ 

  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.main {
	margin: 0;
	padding: 0 0 15px 0;    /* Value Changed MLR 031014 */
	background: url('../images/wavegrid_tan1.png') repeat; /* ADDED MLR 020414 */
}

#branding h1 {
    font-size: 3em;
    line-height: 1em;
    padding-bottom: 0.2em;
    text-align: left;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#branding span.header /* Removed. container-center MRL 020414 */ {
    display: block;
    margin: 0 auto;
    padding: 0 0 0 0; /* Value changed MLR 030314 */
}

/* Added MLR 020414 */
.container-center {
    margin: 0 auto;
	padding: 0 0 25px 0;   /* ADD MLR 030314 */
}

.float-right {    /* ADD MLR 040114 */
	float: right;    /* ADD MLR 040114 */
}    /* ADD MLR 040114 */

#branding span.header, .container-center, #footertext, #system_wide_status_text { /* REMOVE '#personalbar' MLR 022714 */
    width: 1020px;
}

#branding, #footer, .display-form { /* EDIT MLR 022714 */
    color: #603813;
}

.col1 {
    margin-right: 10px;
	width: 802px;   /* ADD MLR 030314 */
}

.col2 {   /* ADD MLR 030314 */
	width: 198px;   /* ADD MLR 030314 */
}   /* ADD MLR 030314 */

.col1, .col2 {
    display: inline-block;
	   /* REMOVED width MLR 030314 */
}

.navigation {
    text-align: left; /* Value changed MLR 020414 */
	color: #fff;
	max-width: 1020px;
	margin: 0 auto;
}

.navigation li {
    display: inline-block;
    list-style-type: none;
    padding: 7px 0px; /* Value changed MLR 030314 */
	color: #FFF; /* ADDED MLR 022714 */
	float: left;   /* ADD MLR 030314 */
}

/* ADDED MLR 020414 */
.navigation li { /* EDIT MLR 022714 */
	border-right: 1px solid #006896;
}

.navigation li:first-child { /* EDIT MLR 022714 */
	border-left: 1px solid #006896;
}

/*******  BREADCRUMBS  *******/    /* ADD MLR 031014 */
#messagecontainer .col2 .navigation li {    /* ADD MLR 031014 */
	border: none;    /* ADD MLR 031014 */
	padding: 7px 8px;    /* ADD MLR 031014 */
	background: url(../images/arrow2.png) top right no-repeat;	    /* Value Changed MLR 031114 */
}    /* ADD MLR 031014 */

#messagecontainer .col2 .navigation li:last-child {    /* ADD MLR 031014 */
	background: none;	    /* ADD MLR 031014 */
}    /* ADD MLR 031014 */

#messagecontainer {
	text-align: left;
	font-size: 1.2em;
}



/*********/

#branding a, #footer a {
    color: #603813;   /* Value Change MLR 030314 */
    font-weight: 700;
    text-decoration: none;
}

nav a {   /*ADD MLR 030314 */
    color: #fff;    /*ADD MLR 030314 */
	padding: 7px 12px;   /* ADD MLR 030314 */
}   /*ADD MLR 030314 */

#branding a:link {   /*ADD MLR 030314 */
    color: #fff;   /*ADD MLR 030314 */
	background: none;   /* ADD MLR 030314 */
    text-decoration: none;   /* ADD MLR 040114 */
}   /*ADD MLR 030314 */

#branding a:visited {   /*ADD MLR 030314 */
    color: #fff;   /*ADD MLR 030314 */
	background: none;   /* ADD MLR 030314 */
    text-decoration: none;   /* ADD MLR 040114 */
}   /*ADD MLR 030314 */

#branding a:hover {   /*ADD MLR 030314 */
    color: #03205B;   /*ADD MLR 030314 */
	background: #B6D2E5;   /*ADD MLR 030314 */
    text-decoration: none;   /* ADD MLR 040114 */
}   /*ADD MLR 030314 */

#branding a:active {   /*ADD MLR 030314 */
    color: #fff;   /*ADD MLR 030314 */
	background: none;   /* ADD MLR 030314 */
    text-decoration: none;   /* ADD MLR 040114 */
}   /*ADD MLR 030314 */

#personalbar {
    margin: 5px auto;
	text-align: right; /* ADD MLR 022714 */
}

#personalbar a:link {   /*ADD MLR 031014 */
    color: #603813;   /*ADD MLR 031014 */
    text-decoration: none;   /* ADD MLR 040114 */
}   /*ADD MLR 031014 */

#personalbar a:visited {   /*ADD MLR 031014 */
    color: #603813;   /*ADD MLR 031014 */
    text-decoration: none;   /* ADD MLR 040114 */
}   /*ADD MLR 031014 */

#personalbar a:hover {   /*ADD MLR 031014 */
    color: #03205B;   /*ADD MLR 031014 */
    text-decoration: none;   /* ADD MLR 040114 */
}   /*ADD MLR 031014 */

#personalbar a:active {   /*ADD MLR 031014 */
    color: #603813;   /*ADD MLR 031014 */
    text-decoration: none;   /* ADD MLR 040114 */
}   /*ADD MLR 031014 */

/***---------- PARENT QUESTION DISPLAY ----------***/   /* <---- ADD NOTE MLR 022714 */

.mcmt-survey {
  background:  url("../Images/mcmt-header.png") center top no-repeat scroll, url('../images/wavegrid_tan1.png') left top repeat; /* Value Changed MLR 030314 */
}

.hk-survey {    /*Added MLR 020414 */
  background:  url("../Images/hk-header.png") center top no-repeat scroll, url('../images/wavegrid_tan1.png') left top repeat; /* Value changed MLR 030314 */ 
}

.mcmt-survey .container-center, .hk-survey .container-center { /* ADD MLR 022714 */
	padding: 0 26px; /* ADD MLR 022714 */
} /* ADD MLR 022714 */

.display-mcmt-question, .display-hk-question {    /* EDIT MLR 030314 -- merged features that were true for both surveys then separated features survey specific */
  
    -webkit-box-shadow: 3px 3px 5px #626262;
    -moz-box-shadow: 3px 3px 5px #626262;
    box-shadow: 3px 3px 5px #626262;
  
    -webkit-border-radius: 14px;
    -khtml-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
  
    margin: 156px 0 0 0; /* Changed value MLR 040114 */
	padding: 10px 10px 40px 10px; /* ADD MLR 022714 */
    font: 16px/25px 'Source Sans Pro', Arial, sans-serif;
	font-weight: 600;
}

.display-mcmt-question {
    background: #D6EFFF; /* Old browsers */
    background: -webkit-linear-gradient(top, #ECF7FD, #CFEDFF);
    background: -moz-linear-gradient(top, #ECF7FD, #CFEDFF);
    background: -o-linear-gradient(top, #ECF7FD, #CFEDFF);
    background: -ms-linear-gradient(top, #ECF7FD, #CFEDFF);
    background: linear-gradient(top, #ECF7FD #CFEDFF);

    border: solid 1px #7DBEDE;   /* Value Changed MLR 030314 */	

    color: #03205B;
}

.display-hk-question {    /* ADD MLR 030314 */
    background: #EDF5EF; /* Old browsers */    /* ADD MLR 030314 */
    background: -webkit-linear-gradient(top, #F7FBF8, #EDF5EF);    /* ADD MLR 030314 */
    background: -moz-linear-gradient(top, #F7FBF8, #EDF5EF);    /* ADD MLR 030314 */
    background: -o-linear-gradient(top, #F7FBF8, #EDF5EF);    /* ADD MLR 030314 */
    background: -ms-linear-gradient(top, #F7FBF8, #EDF5EF);    /* ADD MLR 030314 */
    background: linear-gradient(top, #F7FBF8, #EDF5EF);    /* ADD MLR 030314 */

    border: solid 1px #95D1A0;    /* ADD MLR 030314 */	

    color: #005311;    /* Value Changed MLR 031014 */
}    /* ADD MLR 030314 */

.display-mcmt-question .editor-field img, .display-hk-question .editor-field img {  /* ADD MLR 022714 */
	margin-right: 25px;  /* ADD MLR 022714 */
}  /* ADD MLR 022714 */


.display-mcmt-question .editor-field input, .display-hk-question .editor-field input {  /* ADD MLR 022714 */
	margin-left: 100px;  /* ADD MLR 022714 */
}  /* ADD MLR 022714 */

.display-mcmt-question .editor-label label, .display-hk-question .editor-label label {  /* ADD MLR 022714 */
	font-size: 1.3em;  /* ADD MLR 022714 */
	font-weight: 900;  /* ADD MLR 022714 */
}  /* ADD MLR 022714 */

form {
    text-align: left;
}
form fieldset {
    padding: 10px;
}

form fieldset ul {
    padding: 10px 75px;    /* Value Changed MLR 0303014 */
}

form ul li {
    list-style-type: none;
    margin: 10px 0;
}





input.button {
    font-size: 1.2em;
    padding: 3px 15px 3px;
    background: #ede6de; /* Old browsers */

    background: -webkit-linear-gradient(top, #EDE6DE, #E7DED4);
    background: -moz-linear-gradient(top, #EDE6DE, #E7DED4);
    background: -o-linear-gradient(top, #EDE6DE, #E7DED4);
    background: -ms-linear-gradient(top, #EDE6DE, #E7DED4);
    background: linear-gradient(top, #EDE6DE #E7DED4);
     
     -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  
  color: #603813;
}

/******* PROGRESS BAR *******/   /* <<--- ADD NOTE MLR 022714 */

.display-form { /* ADD MLR 022714 */
	margin: 15px 0 0 0; /* Value Changed MLR 031014 */  
} /* ADD MLR 022714 */

.display-form ul {
  text-align: left;
  margin: 0;
}
.display-form ul li {
  list-style-type: none;
  margin: 5px 0 0 0; /* Value changed MLR 022714 */
}

.display-label, .display-details { /* ADD MLR 022714 */
	display: inline; /* ADD MLR 022714 */
	padding-right: 20px; /* ADD MLR 022714 */
} /* ADD MLR 022714 */

.ui-progressbar {
    height: 2em;
    width: 47%;
    text-align: left;
}
.ui-widget-content {
    background: #EDE6DE;
    border: 1px solid #C7B299;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.ui-widget-header {
    background: /* url("images/ui-bg_highlight-soft_0_014a81_1x100.png") repeat-x scroll 50% 50% */ #4A94B4;   /* Vlaue Changed MLR 030314 */
    border: 0px solid #4A94B4; /* Value Changed MLR 022714 */
    color: #FFFFFF;
    font-weight: 700;
	padding: 5px 0;   /* ADD MLR 030314 */
}

.ui-progressbar .ui-progressbar-value {    /* EDIT moved from above ".ui-widget-header" to below MLR 031014 */
    height: 100%;    /* MOVED MLR 301014 */
    margin: -1px;    /* MOVED MLR 301014 */
	padding: 0px;    /* ADD MLR 301014 */
	-webkit-border-radius: 8px;    /* MOVED from .ui-widget-header set above MLR 031014 */
    -khtml-border-radius: 8px;    /* MOVED from .ui-widget-header set above MLR 031014 */
    -moz-border-radius: 8px;    /* MOVED from .ui-widget-header set above MLR 031014 */
    border-radius: 8px;    /* MOVED from .ui-widget-header set above MLR 031014 */
	border: 1px solid #006896;    /* ADD MLR 301014 */
}    /* MOVED MLR 301014 */

.ui-widget-header div {   /*ADD MLR 022714 */
	display: inline;   /*ADD MLR 022714 */
	padding: 5px 15px;   /*ADD MLR 022714 */
}   /*ADD MLR 022714 */

fieldset {
  border: none;
}


/******* BACKEND TABLES *******/

table {   /* ADD MLR 030314 */
	width: 100%;   /* ADD MLR 030314 */
}   /* ADD MLR 030314 */

.dataTables_wrapper {   /* ADD MLR 030314 */
	padding: 5px 40px 15px 40px;   /* ADD MLR 030314 */
}   /* ADD MLR 030314 */


/******* DIRECTOR PRINT SELECTION PAGE *******/

.makePrime div {    /* ADD MLR 031014 */
	padding: 5px;    /* Changed value MLR 031914 */
	/* margin-left: 20px     REMOVE MLR 031014 */
}    /* ADD MLR 031014 */

.green_border {
    border: 2px solid #006896;    /* Value Changed MLR 031014 */
	background:	#D4E6ED;    /* ADD MLR 031014 */
	-webkit-border-radius: 3px;    /* ADD MLR 031014 */
    -khtml-border-radius: 3px;    /* ADD MLR 031014 */
    -moz-border-radius: 3px;    /* ADD MLR 031014 */
    border-radius: 3px;    /* ADD MLR 031014 */
}

fieldset legend {
	font-size: 1.8em;
	background: #D4E6ED;     /* ADD MLR 031914 */
	padding: 10px;     /* ADD MLR 031914 */ 
	margin: 30px 0 10px 0;     /* ADD MLR 031914 */ 
	width: 100%;     /* ADD MLR 031914 */
}


/******* EDUCATOR ENTRY PAGE *******/

.even , .odd {     /* ADD MLR 031914 */
	margin: 40px 0;     /* ADD MLR 031914 */
}     /* ADD MLR 031914 */

.even div input, .odd div input {     /* ADD MLR 031914 */
	float: left;     /* ADD MLR 031914 */
	margin: 0 10px 0 0;     /* ADD MLR 031914 */
}     /* ADD MLR 031914 */




/* ----- FOOTER  -----*/
#footer {
  background: #ede6de; /* Old browsers */

    background: -webkit-linear-gradient(top, #EDE6DE, #E7DED4);
    background: -moz-linear-gradient(top, #EDE6DE, #E7DED4);
    background: -o-linear-gradient(top, #EDE6DE, #E7DED4);
    background: -ms-linear-gradient(top, #EDE6DE, #E7DED4);
    background: linear-gradient(top, #EDE6DE #E7DED4);    
	margin-top: 0; /*Changed value MLR 020414 */	
    padding: 1em 0;
	font-size: 1.0em; /* Value Changed MLR 031114 */
	text-align: center;   /* ADDED MLR 030314 */
}
#footertext {
    font-size: 1.0em; /* Value Changed MLR 031114 */
    margin: 0 auto;
}
#footertext a {
    text-decoration: none;
}
#footertext a:hover {
    color: #EDE6DE;
	text-decoration: none;   /* ADD MLR 040114 */
}
#footertext ul li {
    display: inline-block;
    list-style-type: none;
    text-align: left;
}
#footertext .col2 ul li {
    display: block;
    list-style-type: none;
    text-align: left;
}
#footer .col1 .navigation li a {
    border-bottom: 1px solid #603813;
    display: block;
    padding-left: 10px;
    width: 200px;
    text-decoration: none;   /* ADD MLR 040114 */
}
#footer .col1 .navigation li a:hover {
    background-color: #603813;
    text-decoration: none;   /* ADD MLR 040114 */
}
#footer .col2 {
    font-style: italic;
    vertical-align: top;
}
#footer .col2 {
    border-left: 1px solid #603813;
}
#footer .navigation {
    text-align: left;
}

/* ------ HOME PAGE ------- */

#parents-left, #parents-right, #parents-right img, #staff-left, #staff-right {
	float: left;
}

#parents {
	background: url(../images/diagonal_waves_blue1.png) repeat;
	padding: 25px 0 0 0; /*Changed value MLR 040114 */	
}

#staff {
	/**** REMOVE MLR 020414   background: url('../images/wavegrid_tan1.png') repeat;  */
	padding: 3em 0 5em 0; /*Added MLR 020414 */	
}

#parents-left {
	width: 40%;
	padding: 0 4%;
	color: #03205B;
}

#parents-left h2 {
	font-size: 4.0em;    /* Value Changed MLR 031114 */
}

#parents-left p {
	line-height: 1.5em;
	font-size: 1.4em;
	margin: 20px 100px 20px 0;  /*Changed value MLR 040114 */	
}

#parents-left img {
	float: right;
}

nav {
	height: 30px;   /* Value Change MLR 030314 */
	background: #4A94B4;
}

#staff-left, #staff-right {
	width: 41%;
	padding: 0 4% 4% 4%;
	color: #42210B;
}

#staff-left h3, #staff-right h3 {
	font-size: 3.0em;    /* Value Changed MLR 031114 */
	margin: 0 0 10px 0;
}

#staff-left p, #staff-right p {
	line-height: 1.5em;
	font-size: 1.4em;    /* Value Changed MLR 031114 */
	margin: 15px 0;    /* ADD MLR 040114 */
}

#staff-left {
	border-right: solid 1px #A17C52;
}

.login-button {
	width: 105px;
	height: 19px;
	border: solid 2px #03205B;
	float: right;
	color: #fff;
	text-align: center;
	font-weight: 700;
	font-size: 1.2em;
	background: linear-gradient(#4A94B4 , #03205B 40%);
	padding: 2px 2px 8px 2px;
	border-radius: 8px;
}        
