* {
  margin: 0;
  padding: 0;
}


/* ------- FONT NOTES ------ */   /* Changed MLR 022714 */

/* REMOVED all @font-face references MLR 022714 */

/* 	ADD the following reference note MLR 022714
	Name: Source Sans Pro
	Normal: 400
	Semi-bold: 600
	Bold: 700
	Ultra-bold: 900
*/

body {
    font: 11.5px/16px 'Source Sans Pro',Arial,sans-serif;
    min-width: 1200px;
}

h2 {  /* ADD MLR 022714 */
	margin: 20px 0 10px 0;  /* ADD MLR 022714 */
}  /* ADD MLR 022714 */

#branding {
  background: #ede6de; /* Old browsers */

    background: -webkit-linear-gradient(top, #EDE6DE, #E7DED4);
    background: -moz-linear-gradient(top, #EDE6DE, #E7DED4);
    background: -o-linear-gradient(top, #EDE6DE, #E7DED4);
    background: -ms-linear-gradient(top, #EDE6DE, #E7DED4);
    background: linear-gradient(top, #EDE6DE #E7DED4);
     
  /* -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
   -webkit-box-shadow: 0 3px 0 #1b383b;
    -moz-box-shadow: 0 3px 0 #1b383b;
    box-shadow: 0 3px 0 #1b383b;
    */ 

  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.main {
	margin: 0;
	padding: 0;
	background: url('../images/wavegrid_tan1.png') repeat; /* ADDED MLR 020414 */
}

#branding h1 {
    font-size: 3em;
    line-height: 1em;
    padding-bottom: 0.2em;
    text-align: left;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

#branding span.header /* Removed. container-center MRL 020414 */ {
    display: block;
    margin: 0 auto;
    padding: 1em 0 0.2em; /* Value changed MLR 020414 */
}

/* Added MLR 020414 */
.container-center {
    margin: 0 auto;
}

#branding span.header, .container-center, #footertext, #system_wide_status_text { /* REMOVE '#personalbar' MLR 022714 */
    width: 1020px;
}

.mcmt-survey {
  background:  url("../Images/mcmt-header.jpg") center top no-repeat scroll, url('../images/wavegrid_tan1.png') left top repeat; /* EDIT MLR 022714 */
}

/*Added MLR 020414 */
.hk-survey {
  background:  url("../Images/hk-header.jpg") center top no-repeat scroll, url('../images/wavegrid_tan1.png') left top repeat; /* EDIT MLR 022714 */ 
}
/*****/

.mcmt-survey .container-center, .hk-survey .container-center { /* ADD MLR 022714 */
	padding: 0 26px; /* ADD MLR 022714 */
} /* ADD MLR 022714 */

#branding, #footer, .display-form { /* EDIT MLR 022714 */
    color: #603813;
}

.col1 {
    margin-right: 10px;
}
.col1, .col2 {
    display: inline-block;
    width: 500px;
}

.navigation {
    text-align: left; /* Value changed MLR 020414 */
	color: #fff;
	max-width: 1020px;
	margin: 0 auto;
}

.navigation li {
    display: inline-block;
    list-style-type: none;
    padding: 12px 12px; /* Value changed MLR 022714 */
	color: #FFF; /* ADDED MLR 022714 */
}

/* ADDED MLR 020414 */
.navigation li { /* EDIT MLR 022714 */
	border-right: 1px solid #006896;
}

.navigation li:first-child { /* EDIT MLR 022714 */
	border-left: 1px solid #006896;
}
/*********/

#branding a, #footer a {
    color: #603813;
    font-weight: 700;
    text-decoration: none;
}

#personalbar {
    margin: 5px auto;
	text-align: right; /* ADD MLR 022714 */
}

/******* PARENT QUESTION DISPLAY *******/   /* <---- ADD NOTE MLR 022714 */

.display-mcmt-question {
    background: #D6EFFF; /* Old browsers */

    background: -webkit-linear-gradient(top, #ECF7FD, #CFEDFF);
    background: -moz-linear-gradient(top, #ECF7FD, #CFEDFF);
    background: -o-linear-gradient(top, #ECF7FD, #CFEDFF);
    background: -ms-linear-gradient(top, #ECF7FD, #CFEDFF);
    background: linear-gradient(top, #ECF7FD #CFEDFF); 
  
    border: solid 1px #CBCBCB;
  
    -webkit-box-shadow: 3px 3px 5px #626262;
    -moz-box-shadow: 3px 3px 5px #626262;
    box-shadow: 3px 3px 5px #626262;
  
    -webkit-border-radius: 14px;
    -khtml-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
  
    margin: 408px 0 0 0;
	padding: 10px 10px 40px 10px; /* ADD MLR 022714 */
    color: #03205B;
    font: 16px/25px 'Source Sans Pro', Arial, sans-serif;
	font-weight: 600;
}

.display-mcmt-question img, .display-hk-question img {  /* ADD MLR 022714 */
	margin-right: 25px;  /* ADD MLR 022714 */
}  /* ADD MLR 022714 */


.display-mcmt-question .editor-field input, .display-hk-quesiton .editor-field input {  /* ADD MLR 022714 */
	margin-left: 100px;  /* ADD MLR 022714 */
}  /* ADD MLR 022714 */

.display-mcmt-question .editor-label label, .display-hk-quesiton .editor-label label {  /* ADD MLR 022714 */
	font-size: 1.3em;  /* ADD MLR 022714 */
	font-weight: 900;  /* ADD MLR 022714 */
}  /* ADD MLR 022714 */


form {
    text-align: left;
}
form fieldset {
    padding: 10px;
}

form fieldset ul {
    padding: 10px 50px 10px 100px;
}

form ul li {
    list-style-type: none;
    margin: 10px 0;
}



input.button {
    font-size: 1.2em;
    padding: 3px 15px 3px;
    background: #ede6de; /* Old browsers */

    background: -webkit-linear-gradient(top, #EDE6DE, #E7DED4);
    background: -moz-linear-gradient(top, #EDE6DE, #E7DED4);
    background: -o-linear-gradient(top, #EDE6DE, #E7DED4);
    background: -ms-linear-gradient(top, #EDE6DE, #E7DED4);
    background: linear-gradient(top, #EDE6DE #E7DED4);
     
     -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  
  color: #603813;
}

/******* PROGRESS BAR *******/   /* <<--- ADD NOTE MLR 022714 */

.display-form { /* ADD MLR 022714 */
	margin: 15px 0; /* ADD MLR 022714 */  
} /* ADD MLR 022714 */

.display-form ul {
  text-align: left;
  margin: 0;
}
.display-form ul li {
  list-style-type: none;
  margin: 5px 0 0 0; /* Value changed MLR 022714 */
}

.display-label, .display-details { /* ADD MLR 022714 */
	display: inline; /* ADD MLR 022714 */
	padding-right: 20px; /* ADD MLR 022714 */
} /* ADD MLR 022714 */

.ui-progressbar {
    height: 2em;
    width: 47%;
    text-align: left;
}
.ui-widget-content {
    background: #EDE6DE;
    border: 1px solid #C7B299;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.ui-progressbar .ui-progressbar-value {
    height: 100%;
    margin: -1px;
}
.ui-widget-header {
    background: /* url("images/ui-bg_highlight-soft_0_014a81_1x100.png") repeat-x scroll 50% 50% */ #8CC63F;
    border: 0px solid #4A94B4; /* Value Changed MLR 022714 */
    color: #FFFFFF;
    font-weight: 700;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.ui-widget-header div {   /*ADD MLR 022714 */
	display: inline;   /*ADD MLR 022714 */
	padding: 5px 15px;   /*ADD MLR 022714 */
}   /*ADD MLR 022714 */

fieldset {
  border: none;
}

/* ----- FOOTER  -----*/
#footer {
  background: #ede6de; /* Old browsers */

    background: -webkit-linear-gradient(top, #EDE6DE, #E7DED4);
    background: -moz-linear-gradient(top, #EDE6DE, #E7DED4);
    background: -o-linear-gradient(top, #EDE6DE, #E7DED4);
    background: -ms-linear-gradient(top, #EDE6DE, #E7DED4);
    background: linear-gradient(top, #EDE6DE #E7DED4);    
	margin-top: 0; /*Changed value MLR 020414 */	
    padding: 1em 0;
	font-size: .7em; /* ADDED MLR 022714 */
}
#footertext {
    /*color: #FFFFFF;*/
    font-size: 0.9em;
    margin: 0 auto;
}
#footertext a {
    text-decoration: none;
}
#footertext a:hover {
    color: #EDE6DE;
}
#footertext ul li {
    display: inline-block;
    list-style-type: none;
    text-align: left;
}
#footertext .col2 ul li {
    display: block;
    list-style-type: none;
    text-align: left;
}
#footer .col1 .navigation li a {
    border-bottom: 1px solid #603813;
    display: block;
    padding-left: 10px;
    width: 200px;
}
#footer .col1 .navigation li a:hover {
    background-color: #603813;
}
#footer .col2 {
    font-style: italic;
    vertical-align: top;
}
#footer .col2 {
    border-left: 1px solid #603813;
}
#footer .navigation {
    text-align: left;
}

/* ------ HOME PAGE ------- */

#parents-left, #parents-right, #parents-right img, #staff-left, #staff-right {
	float: left;
}

#parents {
	background: url(../images/diagonal_waves_blue1.png) repeat;
	padding: 5em 0 3em 0; /*Added MLR 020414 */	
}

#staff {
	/**** REMOVE MLR 020414   background: url('../images/wavegrid_tan1.png') repeat;  */
	padding: 3em 0 5em 0; /*Added MLR 020414 */	
}

#parents-left {
	width: 40%;
	padding: 0 4%;
	color: #03205B;
}

#parents-left h2 {
	font-size: 3.2em;
}

#parents-left p {
	line-height: 1.5em;
	font-size: 1.4em;
	margin: 20px 0;
}

#parents-left img {
	float: right;
}

nav {
	height: 40px;
	background: #4A94B4;
}

#staff-left, #staff-right {
	width: 41%;
	padding: 0 4% 4% 4%;
	color: #42210B;
}

#staff-left h3, #staff-right h3 {
	font-size: 2.0em;
	margin: 0 0 10px 0;
}

#staff-left p, #staff-right p {
	line-height: 1.5em;
	font-size: 1.1em;
}

#staff-left {
	border-right: solid 1px #A17C52;
}

.login-button {
	width: 105px;
	height: 19px;
	border: solid 2px #03205B;
	float: right;
	color: #fff;
	text-align: center;
	font-weight: 700;
	font-size: 1.2em;
	background: linear-gradient(#4A94B4 , #03205B 40%);
	padding: 2px 2px 8px 2px;
	border-radius: 8px;
}        
